@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5f2c82;
}


#login {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

#imagem {
    background-image: url(../imagens/pexels-bruno-carvalho-15956898.jpg);
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 200px;
}

#formulario {
    padding: 5px;
}

#formulario > h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 15px;
}

#formulario > p {
    text-align: left;
    font-size: small;
    margin-bottom: 5px;
}

form > div {
    background-color: #5f2c82;
    width: 230px;
    height: 47px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 5px;
}

.material-icons {
    font-size: 30px;
}

form > div i {
    position: relative;
    left: 12px;
    top: 12px;
    font-size: 300px;
    color: white;
}

form > div > input {
        width: 175px;
        height: 40px;
        padding-top: 3px;
        border: none;
        border-radius: 10px;
        margin-left: 18px;
        background-color: #94cfcd;
        font-size: 0.95em;
}

form > div > input:focus {
    background-color: white;
}

#botao {
    display: block;
    margin: auto;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #53aaa7;
    color: white;
    font-size: 1em;
}

#botao:hover {
    background-color: #2d6462;
    cursor: pointer;
}

#esqsen {
    display: block;
    margin: auto;
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 5px;
    border: 1px solid #53aaa7;
    color: #2d6462;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 20px;
}

#esqsen:hover {
    background-color: #6CD3CF;
    cursor: pointer;
}
